.logo {
    padding: 0px 0px 0px 0px;
    text-align: center;

    img {
      max-width: 80px;
      text-align: center;
    }
  }
  .title{
    color: #002859;
    padding: 0px 0px 0px 110px;
    text-align: center;
}
.new-background-color{
    --background:#d7d8daab;
    
    --color: #002859;
}