
<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-back-button text='' defaultHref="app/tabs/account"></ion-back-button>
    </ion-buttons>
    <ion-title class="title">Cambia password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #changePwdForm="ngForm" novalidate>
  
    <p *ngIf="error" style="text-align: center">{{error.message}}</p>
    <ion-list>

 

      <ion-item>
        <ion-label floating>Vecchia Password</ion-label>
        <ion-input type="password" [(ngModel)]="userChange.oldPassword" name="oldPassword"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Nuova Password</ion-label>
        <ion-input type="password" [(ngModel)]="userChange.newPassword" name="newPassword"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Conferma Password</ion-label>
        <ion-input type="password" [(ngModel)]="userChange.confirmPassword" name="confirmPassword"></ion-input>
      </ion-item>
      <div padding>
        
        <ion-button (click)="changePassword(changePwdForm)" type="submit" class="btnprimary" expand="block">Conferma</ion-button>
      </div>

    </ion-list>
  </form>
</ion-content>

