ion-item.selected {
  --color: var(--ion-color-primary);
}
ion-menu {
  --ion-background-color: #ececec;

  ion-toolbar {
    //--background: #d7d8daab;
    --background:#ececec;
  }  
}
.colorIcon{

color:#002859;
}
.level1, .level2, .level3 {
  padding: 0;
  margin: 8px 0;
  list-style: none;
  li {
      border-top: solid 1px #eee;
      padding: 8px 0 0 8px;
  }
}
