<ion-header>
  <app-header></app-header>
</ion-header>
<ion-content>
  <div>
  <ng-container *ngIf="listHome">
   
      <ion-toolbar>
        <!-- <ion-title size="small" class="title" >ARGOMENTI DELLA SETTIMANA</ion-title> -->
      </ion-toolbar>
    
      <ion-card *ngFor="let card of listHome">
      
        <!-- <ion-card-header>
          <ion-icon name="pin" slot="start"></ion-icon>   
          <ion-card-subtitle></ion-card-subtitle>
         
        
        </ion-card-header> -->
        <img src="../../../assets/UILCOMLOGO400.png"/>
        <ion-card-content>
          <ion-card-title>{{card.Titolo}}</ion-card-title>
          <ion-icon name="pin" slot="start"></ion-icon>
          {{card.Contenuto}}
          
        </ion-card-content>
        <ion-item>
          <ion-button fill="outline" slot="end" (click)="getlistContenuti(card.Titolo, card.Categoria, card.Sottocategoria, card.Azienda)">Leggi</ion-button>
        </ion-item>
      </ion-card>
     
   
  </ng-container> 
  <ng-container *ngIf="result">
  <div *ngFor="let item of result | keyvalue">
    <div id="{{item.key}}">
      <!-- <ion-title class=""> {{item.key}}</ion-title> -->
      <p class="title">{{item.key}}</p>
     
    </div>
    <ion-list>
    <div *ngFor="let value of item.value">  
      
      <div *ngIf="value.TipoAllegato=='jpg' || value.TipoAllegato==null">
     
        <ion-item class="item"        
          (click)="Details(value.IdStr)"
        >      
          <p>{{value.Data |date:'dd/MM/yyyy'}}</p>

          &nbsp;
          <p>{{value.Titolo}}</p>
        </ion-item>
        </div>
        <div *ngIf="value.TipoAllegato=='pdf'" >
     
          <ion-item class="item"        
            (click)="Details(value.IdStr)"
          >      
            <p>{{value.Data |date:'dd/MM/yyyy'}}</p>
            &nbsp;
            <p>{{value.Titolo}}</p>
          </ion-item>
          </div>
     
    </div>

  </ion-list>


  </div>
  </ng-container> 
   <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
        pullingIcon="chevron-down-circle-outline"
        pullingText=""
        refreshingSpinner="circles"
        refreshingText=""
      >
      </ion-refresher-content>
    </ion-refresher> 
  
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Caricamento..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>
